<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Telemedicine Software Solution | Medrec:M Clinic - Medrec:M</title>
    <meta
      name="description"
      content="Cloud-based integrated system that connects clinics and doctors with patients using comprehensive telehealth functionalities, access to shared PHR, docs &amp; image diagnostics."
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <link rel="dns-prefetch" href="//medrec-m.com" />
    <link rel="canonical" href="https://medrec-m.com/clinic.html" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Medrec:M Feed"
      href="https://medrec-m.com/rss/"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#50e39f" />
    <meta name="apple-mobile-web-app-title" content="medrec-m.com" />
    <meta name="application-name" content="medrec-m.com" />
    <meta name="msapplication-TileColor" content="#003732" />
    <meta name="theme-color" content="#003732" />
    <meta property="og:url" content="https://medrec-m.com/clinic.html" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="Telemedicine Software Solution | Medrec:M Clinic"
    />
    <meta
      property="og:description"
      content="Cloud-based integrated system that connects clinics and doctors with patients using comprehensive telehealth functionalities, access to shared PHR, docs &amp; image diagnostics."
    />
    <meta
      property="og:image"
      content="https://medrec-m.com/public/cover/default.jpg"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Telemedicine Software Solution | Medrec:M Clinic"
    />
    <meta
      name="facebook-domain-verification"
      content="1qc250p18vbtknoa1lg8kc7yk20x50"
    />
    <meta name="yandex-verification" content="0739279d9d484684" />
    <link
      rel="stylesheet"
      href="https://medrec-m.com/public/design/vendor/bootstrap-4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://medrec-m.com/public/design/vendor/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://medrec-m.com/public/design/clinic.css?v=1657104666"
    />
    <script
      type="text/javascript"
      src="https://mh.zoho.eu/hub/js/WebsiteAutomation.js"
    ></script>
    <script
      src="https://connect.facebook.net/signals/config/521328225219828?v=2.9.102&amp;r=stable"
      async=""
    ></script>
    <script
      async=""
      src="https://connect.facebook.net/en_US/fbevents.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.google-analytics.com/analytics.js"
    ></script>
    <script>
      function initAmplitude() {
        if (amplitude) {
          amplitude
            .getInstance()
            .init("52dc0e8b0f7d82f4ccabfd062aebf734", undefined, {
              includeReferrer: true,
              includeUtm: true,
            });
          amplitude
            .getInstance()
            .logEvent("PageView", {
              url: window.location.pathname,
              referer: "https://medrec-m.com/",
            });
        }
      }
    </script>
    <script
      async=""
      src="https://cdn.amplitude.com/libs/amplitude-8.18.1-min.gz.js"
      integrity="sha384-VuGgAcmMrGHihvjXxxBVMIqoDFXc8/PO9q/08kCgq4Wn1iPnSmUbI3xhXaFozVFv"
      crossorigin="anonymous"
      onload="initAmplitude();"
    ></script>
    <script
      async=""
      src="https://cdn-eu.pagesense.io/js/sirmamedicalsystems/1bc18bc6a78046f6a5228af94e31057e.js"
    ></script>
    <meta content="3z0a1c82c633705579e3ef56ebdb7b31e9" name="zwaid" />
    <meta content="3z09b505a1a3ceb08f21d8a9bc0f2764e0" name="zwauid" />
    <meta
      content="3z89a665dc208a929b30d1920556db987dcd260603710aafed9c886bcae9ce244e"
      name="zwaod"
    />
    <meta content="3z7881b3bf5689dad556cd5415627f2db5" name="zwad" />
    <meta content="0.0" name="zwv" />
    <meta content="3z0a1c82c633705579e3ef56ebdb7b31e9" name="tmpzwaid" />
    <meta content="3z09b505a1a3ceb08f21d8a9bc0f2764e0" name="tmpzwauid" />
    <meta
      content="3z89a665dc208a929b30d1920556db987dcd260603710aafed9c886bcae9ce244e"
      name="tmpzwaod"
    />
    <meta content="3z7881b3bf5689dad556cd5415627f2db5" name="tmpzwad" />
    <meta content="0.0" name="tmpzwv" />
    <script
      src="https://maillist-manage.eu/wa/PopupRequest?callback=processData&amp;webAutoId=3z0a1c82c633705579e3ef56ebdb7b31e9&amp;zuid=3z09b505a1a3ceb08f21d8a9bc0f2764e0&amp;domain=3z7881b3bf5689dad556cd5415627f2db5&amp;orgDomainId=3z89a665dc208a929b30d1920556db987dcd260603710aafed9c886bcae9ce244e&amp;reqType=0&amp;ref=https://medrec-m.com/&amp;socialshare=null&amp;value=Telemedicine%20Software%20Solution%20%7C%20Medrec%3AM%20Clinic%20-%20Medrec%3AM&amp;zc_cu_exp=1682635799000,2&amp;action=viewed&amp;zc_cu=3z0a1c82c633705579e3ef56ebdb7b31e9-v3z95341f15f08e490d79bb3c4caba43e2575e002472bf322e395598019d8a892da&amp;url=https%3A%2F%2Fmedrec-m.com%2Fclinic.html&amp;parentUrl=https%3A%2F%2Fmedrec-m.com%2Fclinic.html&amp;from=WA"
      id="jsonp"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://ma.zoho.eu/hub/js/MagicPopup.js?t=1682641198989"
    ></script>
    <script
      type="text/javascript"
      href="https://ma.zoho.eu/hub/js/V2/zcOptinClean.js"
    ></script>
  </head>
  <body
    class="home"
    data-new-gr-c-s-check-loaded="14.1107.0"
    data-gr-ext-installed=""
  >
    <!-- Main -->
    <main>
      <section class="container-fluid">
        <!-- Heading content -->
        <div class="row heading-content">
          <div class="col-lg-6">
            <div class="green-text">Telemedicine solution</div>
            <p class="h1">Take your practice to the digital age</p>
            <h1>
              Cloud-based integrated system that connects clinics and doctors
              with patients using comprehensive telehealth functionalities,
              access to shared PHR, docs &amp; image diagnostics.
            </h1>
            <div class="d-none d-lg-block">
              <a href="#contacts" class="primary-btn blue bold">Book a demo</a>
            </div>
            <a href="#whyMedrec" class="d-none d-lg-inline-block discover-more">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
              Scroll to explore
            </a>
          </div>
          <div
            class="col-lg-6 phone-img-wrap d-lg-flex justify-content-center align-items-center"
          >
            <!-- img src="/public/images/hero.png" alt="Take your practice to the digital age" title="Take your practice to the digital age" / -->
            <div class="d-lg-none d-xs-block">
              <a href="#contacts" class="primary-btn blue bold">Book a demo</a>
            </div>
          </div>
        </div>
        <!-- /Heading content -->

        <div class="green-text" id="whyMedrec">WHY MEDREC:M CLINIC</div>
        <!-- Content item -->
        <div class="content-row row">
          <div class="col-lg-5 offset-lg-1">
            <img
              src="/public/icons/clinic-bookings-and-payments.svg"
              class="figure-img d-none d-lg-inline-block"
              alt="Bookings and Payments"
              title="Bookings and Payments"
            />
            <h2>Bookings and Payments</h2>
            <p>
              Medrec:M offers powerful booking and payment options that help the
              clinic attract more new patients and lets them book appointments
              based on each doctor's availability.
            </p>
          </div>
          <div
            class="col-lg-6 d-flex order-first justify-content-center align-items-center"
          >
            <img
              class="phone-smaller"
              src="/public/images/clinic-bookings-and-payments.png"
              alt="Bookings and Payments"
              title="Bookings and Payments"
            />
          </div>
        </div>
        <!-- /Content item -->
        <!-- Content item -->
        <div class="content-row row">
          <div class="col-lg-5 offset-lg-1 order-lg-2">
            <img
              src="/public/icons/clinic-telehealth-enabler.svg"
              class="figure-img d-none d-lg-inline-block"
              alt="Telehealth Enabler"
              title="Telehealth Enabler"
            />
            <h2>Telehealth Enabler</h2>
            <p>
              Medrec:M Clinic enables video and phone calls for online meetings
              between patients and doctors. It is cloud-based, and its interface
              is accessible in different languages.
            </p>
          </div>
          <div
            class="col-lg-6 d-flex order-first order-lg-2 justify-content-center align-items-center"
          >
            <img
              class="phone-smaller"
              src="/public/images/clinic-telehealth-enabler.png"
              alt="Telehealth Enabler"
              title="Telehealth Enabler"
            />
          </div>
        </div>
        <!-- /Content item -->
        <!-- Content item -->
        <div class="content-row row">
          <div class="col-lg-5 offset-lg-1">
            <img
              src="/public/icons/clinic-phr-data-visualisation.svg"
              class="figure-img d-none d-lg-inline-block"
              alt="PHR Data Visualisation"
              title="PHR Data Visualisation"
            />
            <h2>PHR Data Visualisation</h2>
            <p>
              Medrec:M Clinic offers a personal/patients health record (PHR)
              data sharing visualization. Each patient can share selected
              medical and personal health data from the Medrec:M mobile App to
              the appointed doctor. Powerful graphs and charts visualize the
              medical data.
            </p>
          </div>
          <div
            class="col-lg-6 d-flex order-first justify-content-center align-items-center"
          >
            <img
              class="phone-smaller"
              src="/public/images/clinic-phr-data-visualisation.png"
              alt="PHR Data Visualisation"
              title="PHR Data Visualisation"
            />
          </div>
        </div>
        <!-- /Content item -->
        <!-- Content item -->
        <div class="content-row row">
          <div class="col-lg-5 offset-lg-1 order-lg-2">
            <img
              src="/public/icons/clinic-image-diagnostics.svg"
              class="figure-img d-none d-lg-inline-block"
              alt="Image Diagnostics"
              title="Image Diagnostics"
            />
            <h2>Image Diagnostics</h2>
            <p>
              Medrec:M Clinic includes a fully functioning image diagnostics
              module, able to open all kinds of DICOM files, along with options
              to zoom, measure, rotate.
            </p>
          </div>
          <div
            class="col-lg-6 d-flex order-first order-lg-2 justify-content-center align-items-center"
          >
            <img
              class="phone-smaller"
              src="/public/images/clinic-image-diagnostics.png"
              alt="Image Diagnostics"
              title="Image Diagnostics"
            />
          </div>
        </div>
        <!-- /Content item -->
      </section>

      <!-- Video -->
      <section class="video-wrapper">
        <div class="container-fluid">
          <div class="row">
            <h3>VIDEO</h3>
            <div class="iframe-wrapper">
              <img
                src="/public/images/video.jpg"
                alt="Medrec:M - Track, analyze and keep your health under control"
              />
              <iframe
                data-src="https://www.youtube.com/embed/24iw9m8N_CI"
                allow="autoplay; encrypted-media; picture-in-picture; fullscreen"
                allowfullscreen=""
                title="Medrec:M - Track, analyze and keep your health under control"
                src="https://www.youtube.com/embed/24iw9m8N_CI"
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- /Video -->

      <!-- Features -->
      <section class="features" id="features">
        <div class="container-fluid">
          <!-- Features green text -->
          <div class="row">
            <div class="col-lg-8 offset-lg-4">
              <p class="green-text">MAIN FEATURES</p>
            </div>
          </div>
          <!-- /Features green text -->

          <!-- Features row -->
          <div class="row">
            <div class="col-lg-4 feature offset-lg-4">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-appointments-calendar.svg"
                alt="Appointments calendar"
                title="Appointments calendar"
              />
              <h3>Appointments calendar</h3>
              <p>
                Set a detailed schedule for patient appointments with features
                for online and in-person meetings, available hours, and time
                off.
              </p>
            </div>
            <div class="col-lg-4 feature">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-video-and-voice-calls.svg"
                alt="Video and voice calls"
                title="Video and voice calls"
              />
              <h3>Video and voice calls</h3>
              <p>
                Perform securely encrypted, high-quality video or voice calls
                directly from the system.
              </p>
            </div>
            <div class="col-lg-4 feature offset-lg-4">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-patient-list.svg"
                alt="Patient List"
                title="Patient List"
              />
              <h3>Patient List</h3>
              <p>
                A detailed, searchable patient list providing general health
                issue information at a glance.
              </p>
            </div>
            <div class="col-lg-4 feature">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-instant-messaging.svg"
                alt="Instant messaging"
                title="Instant messaging"
              />
              <h3>Instant messaging</h3>
              <p>
                Send and receive instant messages with patients before and/or
                after a consultation.
              </p>
            </div>
            <div class="col-lg-4 feature offset-lg-4">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-detailed-medical-history.svg"
                alt="Detailed medical history"
                title="Detailed medical history"
              />
              <h3>Detailed medical history</h3>
              <p>
                View each patient’s shared symptoms and vitals, as well as all
                documents and imaging diagnostics files.
              </p>
            </div>
            <div class="col-lg-4 feature">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-price-lists.svg"
                alt="Price lists"
                title="Price lists"
              />
              <h3>Price lists</h3>
              <p>
                Manage your full services pricelist directly in the system with
                multiple practices, types, and currency settings.
              </p>
            </div>
            <div class="col-lg-4 feature offset-lg-4">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-customizable-settings.svg"
                alt="Customizable settings"
                title="Customizable settings"
              />
              <h3>Customizable settings</h3>
              <p>
                Fully customizable options for data display (measurement units,
                classification method, etc.) and profile management.
              </p>
            </div>
            <div class="col-lg-4 feature">
              <img
                class="phone-smaller"
                src="/public/icons/clinic-custom-schedules.svg"
                alt="Custom schedules"
                title="Custom schedules"
              />
              <h3>Custom schedules</h3>
              <p>
                Manage staff schedules and clinical services from a centralized
                administrative portal.
              </p>
            </div>
          </div>
          <!-- /Features row -->
        </div>
      </section>
      <!-- /Features -->

      <!-- Blue section -->
      <section class="blue-section" id="sirma-healthcare-suite">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h2>Start your digital transformation today!</h2>
              <p>
                Contact us and get a personalized quote based on your particular
                needs and requirements
              </p>
            </div>

            <div class="col-lg-6 blue-section-buttons">
              <a href="#contacts" <a="" class="primary-btn blue bold"
                >Book a demo</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- /Blue section -->

      <!-- News section -->
      <section class="container-fluid" id="news-section">
        <div class="row heading">
          <div class="col-6">
            <p class="green-text">LATEST NEWS &amp; EVENTS</p>
          </div>
          <div class="col-6 text-right">
            <a href="/news.html" class="link-arrow-right link">
              See all
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="row news">
          <!-- Article -->
          <div class="col-lg-6">
            <article class="news-article">
              <div
                class="image"
                style="
                  background-image: url(/public/news/decoding-health-information-with-telemedicine.jpg);
                "
              ></div>
              <h3>Decoding Health Information with Telemedicine</h3>
              <footer>
                <a
                  href="/news/decoding-health-information-with-telemedicine.html"
                  class="primary-btn"
                  >View article</a
                >
                <span class="time"> 6 Apr 2023</span>
              </footer>
            </article>
          </div>
          <!-- /Article -->
          <!-- Article -->
          <div class="col-lg-6">
            <article class="news-article">
              <div
                class="image"
                style="
                  background-image: url(/public/news/sirma-medical-systems-joins-the-digital-health-and-innovations-cluster-bulgaria.jpg);
                "
              ></div>
              <h3>
                Sirma Medical Systems Joins the Digital Health and Innovations
                Cluster Bulgaria
              </h3>
              <footer>
                <a
                  href="/news/sirma-medical-systems-joins-the-digital-health-and-innovations-cluster-bulgaria.html"
                  class="primary-btn"
                  >View article</a
                >
                <span class="time">24 Mar 2023</span>
              </footer>
            </article>
          </div>
          <!-- /Article -->
        </div>
      </section>
      <!-- /News section -->

      <!-- Form -->
      <section class="container-fluid form-container">
        <div class="row heading">
          <div class="col-12 offset-lg-1 col-lg-11">
            <p class="green-text">CONTACT</p>
          </div>
        </div>

        <!-- Success tick -->
        <div id="successAnimationWrap">
          <svg
            id="successAnimation"
            xmlns="http://www.w3.org/2000/svg"
            width="300"
            height="300"
            viewBox="0 0 70 70"
          >
            <path
              id="successAnimationResult"
              fill="#D8D8D8"
              d="M35,60 C21.1928813,60 10,48.8071187 10,35 C10,21.1928813 21.1928813,10 35,10 C48.8071187,10 60,21.1928813 60,35 C60,48.8071187 48.8071187,60 35,60 Z M23.6332378,33.2260427 L22.3667622,34.7739573 L34.1433655,44.40936 L47.776114,27.6305926 L46.223886,26.3694074 L33.8566345,41.59064 L23.6332378,33.2260427 Z"
            ></path>
            <circle
              id="successAnimationCircle"
              cx="35"
              cy="35"
              r="24"
              stroke="#979797"
              stroke-width="2"
              stroke-linecap="round"
              fill="transparent"
            ></circle>
            <polyline
              id="successAnimationCheck"
              stroke="#979797"
              stroke-width="2"
              points="23 34 34 43 47 27"
              fill="transparent"
            ></polyline>
          </svg>
          <h3 id="contact-form-success" class="green-text">Thank you</h3>
        </div>
        <!-- /Success tick -->

        <div class="row" id="contacts">
          <div class="offset-lg-1 col-lg-5">
            <h2>Want to know more? Get in touch with us!</h2>
          </div>

          <form class="col-lg-5" id="contactForm">
            <div class="control">
              <label class="d-block" for="names">Your name</label>
              <input type="text" name="names" id="names" />
            </div>
            <div class="control">
              <label class="d-block" for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="control">
              <label class="d-block" for="message">Message</label>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="3"
              ></textarea>
            </div>
            <p class="alert alert-danger error-message" id="contact-form-error">
              An Error occurred, please try again
            </p>
            <button class="primary-btn white bold">
              Send
              <!-- i class="fa fa-arrow-right" aria-hidden="true"></i -->
            </button>
          </form>
        </div>
      </section>
      <!-- Form -->
    </main>
    <!-- /Main -->
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-lg-1 col-11">
            <a href="/" class="logo"
              ><img
                src="/public/design/images/medrec-clinic-logo.svg"
                alt="Medrec:M"
                title="Medrec:M"
            /></a>
          </div>
        </div>

        <div class="row media">
          <div class="offset-lg-1 col-lg-4">
            <p>
              Your personal electronic health record - keep your health under
              control
            </p>
            <ul class="socials">
              <li>
                <a
                  href="https://www.facebook.com/MedrecM/"
                  class="facebook"
                  target="_blank"
                  rel="noopener"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <!-- li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li -->
              <li>
                <a
                  href="https://www.instagram.com/medrecm/"
                  class="insgagram"
                  target="_blank"
                  rel="noopener"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/showcase/medrec-m/"
                  class="linkedin"
                  target="_blank"
                  rel="noopener"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCN7gPbFu9mqwNCO9gnqmPaQ"
                  class="youtube"
                  target="_blank"
                  rel="noopener"
                  ><i class="fa fa-youtube" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
          <div
            class="offset-lg-2 col-lg-4 d-flex justify-content-lg-between stores"
          >
            <div class="border-low-res">
              <a
                href="https://play.google.com/store/apps/details?id=com.sirma.medrec.m"
                class="store android"
                target="_blank"
                rel="noopener"
                ><img
                  src="/public/design/images/google-play.png"
                  alt="Get it on Google Play Store"
                  title="Get it on Google Play Store"
              /></a>
              <a
                href="https://apps.apple.com/app/id1617858478"
                class="store apple"
                target="_blank"
                ><img
                  src="/public/design/images/apple-store.png"
                  alt="Get it on Apple Store"
                  title="Get it on Apple Store"
              /></a>
            </div>
          </div>
        </div>

        <div class="row contacts">
          <div class="offset-lg-1 col-lg-2">
            <a
              href="https://sirma.com/products/healthcare-suite.html"
              class="logo"
              target="_blank"
              rel="noopener"
              ><img
                src="/public/design/images/logo-sirma-clinic.svg"
                alt="Sirma"
                title="Sirma"
            /></a>
          </div>
          <div class="offset-lg-1 col-lg-3">
            <p><strong>Office</strong></p>
            <p>135 Tsarigradsko Shosse</p>
            <p>1784 Sofia, Bulgaria</p>
          </div>
          <div class="col-lg-3 col-xl-3">
            <div class="border-low-res">
              <p><strong>Contact</strong></p>
              <p>
                T:
                <a class="contact" href="tel:+35929768310">+359 2 976 8310</a>
              </p>
              <!-- <p>E: <a class="contact" href="https://sirma.com/mailto/office" rel="nofollow">office<span class="mail">sirma.com</span></a></p> -->
              <p>E: info<span class="mail">medrec-m.com</span></p>
            </div>
          </div>
          <div class="col-lg-2 justify-content-end d-lg-flex d-none">
            <a href="#" id="scroll-top"
              ><i class="fa fa-arrow-up" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <div class="row bottom-text align-items-center">
          <div class="offset-lg-1 col-lg-4">
            <p>© Sirma 1992-2023</p>
          </div>
          <div class="offset-lg-2 col-lg-4 d-lg-block d-none">
            <nav>
              <ul
                class="navbar-nav flex-row justify-content-between pull-right"
              >
                <!-- li class="nav-item"><a class="nav-link" href="#">Terms of Use</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Legal Notice</a></li -->
                <li class="nav-item">
                  <a class="nav-link" href="/privacy-policy/">Privacy Policy</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <script src="/public/design/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/design/vendor/bootstrap-4.4.1/js/bootstrap.min.js"></script>

    <!-- Main scripts -->
    <script src="/public/design/main.js?v=1656064424"></script>

    <script src="https://www.googletagmanager.com/gtag/js?id=UA-43175963-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-43175963-10");
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "521328225219828");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        src="https://www.facebook.com/tr?id=521328225219828&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- script type="text/javascript"> _linkedin_partner_id = "1848140"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id);</script>
<script src="https://snap.licdn.com/li.lms-analytics/insight.min.js" data-cfasync="false"></script><noscript><img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1848140&fmt=gif" /></noscript -->

    <script>
      var w = window;
      var p = w.location.protocol;
      if (p.indexOf("http") < 0) {
        p = "http" + ":";
      }
      var d = document;
      var f = d.getElementsByTagName("script")[0],
        s = d.createElement("script");
      s.type = "text/javascript";
      s.async = false;
      if (s.readyState) {
        s.onreadystatechange = function () {
          if (s.readyState == "loaded" || s.readyState == "complete") {
            s.onreadystatechange = null;
            try {
              loadwaprops(
                "3z0a1c82c633705579e3ef56ebdb7b31e9",
                "3z09b505a1a3ceb08f21d8a9bc0f2764e0",
                "3z89a665dc208a929b30d1920556db987dcd260603710aafed9c886bcae9ce244e",
                "3z7881b3bf5689dad556cd5415627f2db5",
                "0.0"
              );
            } catch (e) {}
          }
        };
      } else {
        s.onload = function () {
          try {
            loadwaprops(
              "3z0a1c82c633705579e3ef56ebdb7b31e9",
              "3z09b505a1a3ceb08f21d8a9bc0f2764e0",
              "3z89a665dc208a929b30d1920556db987dcd260603710aafed9c886bcae9ce244e",
              "3z7881b3bf5689dad556cd5415627f2db5",
              "0.0"
            );
          } catch (e) {}
        };
      }
      s.src = p + "//mh.zoho.eu/hub/js/WebsiteAutomation.js";
      f.parentNode.insertBefore(s, f);
    </script>
  </body>
  <grammarly-desktop-integration
    data-grammarly-shadow-root="true"
  ></grammarly-desktop-integration>
</html>
